.env
data/hermes
data/pi_dev/config/agent/auth.json
data/pi_dev/config/agent/bin
data/pi_dev/config/agent/sessions
data/pi_dev/config/agent/settings.json
data/shared/benchmarks/*.txt
data/shared/inference_config.yml
data/shared/inference_loading_times.txt
data/shared/inference_preset_name_target.txt
data/shared/inference_preset_name.txt
data/shared/inference_presets/local/*.bak
data/shared/inference_presets/local/*.ini
data/shared/inference_presets/local/*.yml
data/shared/inference_status.txt
data/shared/inference_up_hash.txt
data/shared/inference_up_timestamp.txt
data/ssl_certs/cert.pem
data/ssl_certs/key.pem
data/stats/*.log
docker/fifo_proxy/main.md5
docker/fifo_proxy/proxy
docker/llama_cpp/compose.override.yml
docker/llama_embeddings/compose.override.yml
docker/webui/main.md5
docker/webui/webui
