:1234 {
	basic_auth {
		{$GF_HTTP_USER} {$GF_HTTP_PASSWORD_HASHED}
	}

	tls /ssl_certs/cert.pem /ssl_certs/key.pem
	reverse_proxy glacierflow-web-ui:8080
}

:1235 {
	tls /ssl_certs/cert.pem /ssl_certs/key.pem
	reverse_proxy glacierflow-pi-dev:7681
}

:1236 {
	tls /ssl_certs/cert.pem /ssl_certs/key.pem
	reverse_proxy glacierflow-proxy:8080
}

:1237 {
	tls /ssl_certs/cert.pem /ssl_certs/key.pem
	reverse_proxy glacierflow-hermes:7681
}

:1238 {
	tls /ssl_certs/cert.pem /ssl_certs/key.pem
	reverse_proxy glacierflow-hermes:9119
}
